h1 { 
    color: blue;
}

#dtpn {
    color: blueviolet;
}
#hab {
    color: crimson;
}
#idiomas {
    color: darkcyan;
}
li{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.carrera {
    color: darkmagenta;
    font-family: 'Times New Roman', Times, serif;
}